<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
       xmlns:mvc="http://www.springframework.org/schema/mvc"  
       xmlns:context="http://www.springframework.org/schema/context"  
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
       xsi:schemaLocation="http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-4.0.xsd
						http://www.springframework.org/schema/mvc classpath:/org/springframework/web/servlet/config/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-4.0.xsd">

	<context:annotation-config />
	<context:component-scan base-package="com.codyy.oc.onlinetest.dao,com.codyy.oc.onlinetest.service" />
	
	
	<bean id="deleteExamQuestionTask" class="org.springframework.scheduling.quartz.MethodInvokingJobDetailFactoryBean">
		<property name="targetObject" ref="delExamQuestionService"/>
		<property name="targetMethod" value="deleteLSExamQuestion"/>
	</bean>
	<bean id="deleteLSExamQuestionTime" class="org.springframework.scheduling.quartz.CronTriggerBean">
		<property name="jobDetail" ref="deleteExamQuestionTask"/>
		<property name="cronExpression" value="0 0 1 1 * ?"/>
	</bean>
	
	<bean id="startQuertz" lazy-init="false" autowire="no" class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="deleteLSExamQuestionTime"/>
			</list>
		</property>
	</bean>
</beans>