<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:util="http://www.springframework.org/schema/util" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/aop classpath:/org/springframework/aop/config/spring-aop-4.0.xsd
						http://www.springframework.org/schema/mvc classpath:/org/springframework/web/servlet/config/spring-mvc-4.0.xsd
						http://www.springframework.org/schema/beans classpath:/org/springframework/beans/factory/xml/spring-beans-4.0.xsd
						http://www.springframework.org/schema/util classpath:/org/springframework/beans/factory/xml/spring-util-4.0.xsd
						http://www.springframework.org/schema/context classpath:/org/springframework/context/config/spring-context-4.0.xsd">
						
	<context:component-scan base-package="com.codyy" use-default-filters="false">
		<context:include-filter type="regex" expression="com.codyy.oc.homework.controller.*" />
		<context:include-filter type="regex" expression="com.codyy.oc.onlinetest.controller.*" />
		<context:include-filter type="regex" expression="com.codyy.oc.questionlib.controller.*" />
		<context:include-filter type="regex" expression="com.codyy.oc.base.controller.*" />
		<context:include-filter type="regex" expression="com.codyy.commons.controller.*" />
	</context:component-scan>
	
	<!-- 使用SpringMVC自带的CommonsMultipartResolver实现多个文件上传的功能 org.springframework.web.multipart.commons.CommonsMultipartResolver -->
	<mvc:annotation-driven />

	<bean	class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/pages/" />
		<property name="suffix" value=".jsp" />
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView" />
	</bean>

	<mvc:default-servlet-handler />

	<bean id="exceptionResolver" class="org.springframework.web.servlet.handler.SimpleMappingExceptionResolver">
		<property name="exceptionMappings">
			<props>
				<prop key="org.springframework.web.multipart.MaxUploadSizeExceededException">/handelException</prop>
			</props>
		</property>
	</bean>

	<!-- 强制使用cglib动态代理植入增强 -->
	<aop:aspectj-autoproxy proxy-target-class="true" />
</beans>
