<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.codyy.oc.homework.dao.HomeWorkMapper">
<resultMap type="com.codyy.oc.homework.entity.HomeWork" id="homeWorkMap">
<id column="WORK_HOMEWORK_ID" property="homeWorkId" jdbcType="VARCHAR" />
		<result column="WORK_TITLE" property="workTitle" jdbcType="VARCHAR" />
		<result column="ASSIGN_TIME" property="assignTime" jdbcType="TIMESTAMP" />
		<result column="FINISH_TIME" property="finishTime" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
		<result column="subWorkStuCount" property="subWorkStuCount" jdbcType="DECIMAL" />
		<result column="stuCount" property="stuCount" jdbcType="DECIMAL" />
		<result column="read_over_type" property="readOverType" jdbcType="DECIMAL" />
</resultMap>

<resultMap type="com.codyy.oc.homework.entity.HomeWork" id="stuHomeWorkMap">
<id column="WORK_HOMEWORK_ID" property="homeWorkId" jdbcType="VARCHAR" />
		<result column="WORK_TITLE" property="workTitle" jdbcType="VARCHAR" />
		<result column="ASSIGN_TIME" property="assignTime" jdbcType="TIMESTAMP" />
		<result column="FINISH_TIME" property="finishTime" jdbcType="TIMESTAMP" />
		<result column="STATUS" property="status" jdbcType="VARCHAR" />
		<result column="SUBJECT_NAME" property="subjectName" jdbcType="VARCHAR" />
		<result column="QUESTION_COUNT" property="queCount" jdbcType="DECIMAL" />
		<result column="ANSWER_COUNT" property="answerCount" jdbcType="DECIMAL" />
		<result column="SUBMIT_TIME" property="submitTime" jdbcType="TIMESTAMP" />
	    <result column="SUMMARY" property="summary" jdbcType="CLOB" />
</resultMap>


<resultMap type="com.codyy.oc.homework.entity.FillInQuesAnswer" id="fillInQuesAnswerMap">
    <id column="WORK_QUE_FILL_IN_ANSWER_ID" property="workQueFillInAnswerId" jdbcType="VARCHAR" />
    <result column="ANSWER_GRP1" property="answerGrp1" jdbcType="VARCHAR" />
    <result column="ANSWER_GRP2" property="answerGrp2" jdbcType="VARCHAR" />
    <result column="ANSWER_GRP3" property="answerGrp3" jdbcType="VARCHAR" />
    <result column="ANSWER_GRP4" property="answerGrp4" jdbcType="VARCHAR" />

</resultMap>

<!-- 批阅作业的信息 -->
<resultMap type="com.codyy.oc.homework.entity.HomeWorkQuestionInfo" id="ReadOverInfoMap">
 <id column="WORK_HOMEWORK_ID" property="homeWorkId" jdbcType="VARCHAR" />
		<result column="WORK_TITLE" property="workTitle" jdbcType="VARCHAR" />
		<result column="READ_OVER_TYPE" property="readOverType" jdbcType="VARCHAR" />
		<result column="TEXT_QUE_CONTENT" property="textQueContent" jdbcType="CLOB" />
		 <result column="TEXT_QUE_ANSWER" property="textQueAnswer" jdbcType="CLOB" />
    <result column="TEXT_QUE_COMMENT" property="textQueComment" jdbcType="CLOB" />
    <result column="DOC_QUE_COMMENT" property="docQueComment" jdbcType="CLOB" />
    <result column="SUMMARY" property="summary" jdbcType="CLOB" />
     <result column="READ_OVER_STU_ID" property="readOverStuId" jdbcType="VARCHAR" />
</resultMap>
<!-- 批阅习题的信息 -->
<resultMap type="com.codyy.oc.homework.entity.QuestionInfo" id="questionReadOverInfoMap">
	<result column="WORK_QUESTION_ID" property="workQuestionId" jdbcType="VARCHAR" />
    <result column="CONTENT" property="content" jdbcType="CLOB" />
    <result column="CONTENT_VIDEO" property="contentVideo" jdbcType="VARCHAR" />
    <result column="OPTIONS" property="options" jdbcType="CLOB" />
    <result column="DIFFICULTY" property="difficulty" jdbcType="VARCHAR" />
    <result column="TYPE" property="type" jdbcType="VARCHAR" />
    <result column="RESOLVE_VIDEO" property="resolveVideo" jdbcType="VARCHAR" />
    <result column="ANSWER" property="answer" jdbcType="VARCHAR" />
    <result column="FILL_IN_ANSWER_TYPE" property="fillInAnswerType" jdbcType="VARCHAR" />
     <result column="CORRECT_FLAG" property="correctFlag" jdbcType="VARCHAR" />
    <result column="MY_ANSWER" property="myAnswer" jdbcType="CLOB" />
    <result column="ANSWER_VIDEO" property="answerVideo" jdbcType="VARCHAR" />
    <result column="READ_OVER_FLAG" property="readOverFlag" jdbcType="VARCHAR" />
     <result column="COMMENT" property="comment" jdbcType="CLOB" />
    <result column="workQueId" property="workQueId" jdbcType="VARCHAR" />
    <collection column="WORK_QUESTION_ID" property="fillInQuesAnswer" select="getFillInQuesAnswer" ofType="string"></collection>
</resultMap>

<!-- 查询某个作业的标题等信息（查看批阅） -->
<select id="findHomeWorkReadOverInfo" parameterType="java.util.Map" resultMap="ReadOverInfoMap">
select wh.work_homework_id,
       wh.work_title,
       wh.text_que_content,
       wh.read_over_type,
      a.*
       from work_homework wh
       join(
       select wrs.work_homework_id,wrs.text_que_answer,
                           wrs.text_que_comment,
                           wrs.doc_que_comment,
                           wrs.summary,
                           wrs.read_over_stu_id
                      from work_receive_stu wrs
                     where wrs.base_user_id =
                          #{userId}
                       and wrs.work_homework_id = #{workId}) a
  on wh.work_homework_id = a.work_homework_id

</select>
<!-- 查询作业的习题信息（查看批阅） -->
<select id="findReadOverQuestionListById" parameterType="java.lang.String" resultMap="questionReadOverInfoMap">
  select wq.work_question_id,
       wq.content,
       wq.content_video,
       wq.options,
       wq.answer,
       wq.difficulty,
       wq.resolve_video,
       wq.fill_in_answer_type,
       wq.type,
       resultAll.*
  from work_question wq
  left join (select wrsqa.correct_flag,
                    wrsqa.my_answer,
                    wrsqa.answer_video,
                    wrsqa."COMMENT",
                    wrsqa.read_over_flag,
                    wrsqa.work_question_id as workQueId
               from work_rec_stu_que_answer wrsqa
               join (select wrs.work_receive_stu_id  
                      from work_receive_stu wrs
                     where wrs.base_user_id =
                            #{userId}
                       and wrs.work_homework_id = #{workId}) a
                 on wrsqa.work_receive_stu_id = a.work_receive_stu_id
             
             ) resultAll
    on wq.work_question_id = resultAll.workQueId
 where wq.work_homework_id = #{workId}
order by CASE wq.type
            WHEN 'SINGLE_CHOICE' THEN
             '1'
            WHEN 'MULTI_CHOICE' THEN
             '2'
            WHEN 'JUDEMENT' THEN
             '3'
            WHEN 'FILL_IN_BLANK' THEN
             '4'
            WHEN 'ASK_ANSWER' THEN
             '5'
            WHEN 'COMPUTING' THEN
             '6'
            ELSE
             '7'
          END,
          wq.sort 

</select>


<!-- 查询填空题答案 -->
<select id="getFillInQuesAnswer" parameterType="java.lang.String" resultMap="fillInQuesAnswerMap">
        select wqfia.work_que_fill_in_answer_id,
               wqfia.answer_grp1,
               wqfia.answer_grp2,
               wqfia.answer_grp3,
               wqfia.answer_grp4 from work_question wq join  
               work_que_fill_in_answer wqfia  on wq.work_question_id = wqfia.work_question_id 
         where wq.type = 'FILL_IN_BLANK' and wqfia.work_question_id = #{work_question_id}
</select>


<!-- 查询出教师角色对应下的年级 -->
<select id="findClassLevel" parameterType="java.lang.String" resultType="com.codyy.oc.homework.entity.ClassLevel">
select
      distinct(bc.base_classlevel_id) classLevelId, 
       bc.classlevel_name classLevelName
   from  base_user_teach but 
   join base_classlevel bc on but.base_classlevel_id = bc.base_classlevel_id
where but.base_user_id = #{userId}
</select>

<!-- 查询出教师角色对应下的作业列表 -->
<select id="findTeacherHomeworkByConditionsPageList" parameterType="com.codyy.commons.page.Page" resultMap="homeWorkMap">
select whw.work_homework_id,
       whw.work_title,
       whw.assign_time,
       whw.finish_time,
       whw.status,
       whw.base_subject_id,
       whw.read_over_type,
       bs.subject_name,
       a.subWorkStuCount,
       b.stuCount

  from work_homework whw
  left join base_subject bs
    on whw.base_subject_id = bs.base_subject_id
  left join (select count(*) as subWorkStuCount, work_homework_id
               from work_receive_stu wrs
              where wrs.status != 'PROGRESS'
              group by work_homework_id) a
    on whw.work_homework_id = a.work_homework_id
  left join (select count(*) as stuCount, work_homework_id
               from work_receive_stu wrs
              group by work_homework_id) b
    on whw.work_homework_id = b.work_homework_id
 where 1 = 1
   and whw.base_user_id = #{map.userId}
		<if test="map.assignStartTime != null and map.assignStartTime != ''">
		and whw.assign_time &gt;= to_date(#{map.assignStartTime},'yyyy-MM-dd HH24:mi')
		</if>
		<if test="map.assignEndTime != null and map.assignEndTime != ''">
		and whw.assign_time &lt;= to_date(#{map.assignEndTime},'yyyy-MM-dd HH24:mi')
		</if>
		<if test="map.status != null and map.status != ''">
		and whw.status = #{map.status}
		</if>
		<if test="map.subjectId != null and map.subjectId != ''">
		and whw.base_subject_id = #{map.subjectId}
		</if>
		<if test="map.homeWorkName != null and map.homeWorkName != ''">
		and whw.work_title  like '%'||#{map.homeWorkName}||'%' escape '/'
		</if>
		order by  whw.create_time desc
</select>

<!-- 当待布置布置时，更新作业的状态 -->
<update id="updateWorkStatus" parameterType="java.util.Map">
update work_homework whw
   set whw.status = 'PROGRESS',whw.assign_time=#{date}
 where whw.work_homework_id = #{workId}
</update>
<!-- 删除作业 -->
<delete id="deleteWork" parameterType="string">
delete from work_homework whw where whw.work_homework_id = #{workId}
</delete>
<select id="findUserNameById" parameterType="string" resultType="string">
select bs.realname from base_user bs where bs.base_user_id=#{userId}
</select>

</mapper>
